<%= form_for @servico, :url => {:action => action} do |f| -%>
  <fieldset>
    <legend><%= title %></legend>
    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
      <tr>
        <th valign="top"><%= f.label :codigo %></th>
        <td><%= f.text_field :codigo %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :nome %></th>
        <td><%= f.text_field :nome %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :tipo_de_servico_id %></th>
        <td><%= f.select :tipo_de_servico_id, @tipos_de_servicos, :prompt => "Selecione..." %></td>
      </tr>
      <tr>
        <td colspan="3"><%= f.submit "Salvar" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to "Cancelar", servico_index_path %></td>
      </tr>
    </table>
  </fieldset>
<% end -%>

