<%= form_for @cliente, :url => {:action => action} do |f| -%>
  <fieldset>
    <legend><%= title %></legend>
    <table border="0" class="nostyle">
      <tr>
        <th valign="top"><%= f.label :codigo %></th>
        <td><%= f.text_field :codigo, :class => "input-text" %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :nome %></th>
        <td><%= f.text_field :nome, :class => "input-text" %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :sexo %></th>
        <td><%= f.select :sexo, Cliente::SEXO %></td>
      </tr>
      <tr>
        <td colspan="3"><%= f.submit "Salvar", :class => "input-submit" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to "Cancelar", cliente_index_path %></td>
      </tr>
    </table>
  </fieldset>
<% end -%>

