<h1>Clientes</h1>

<script>
	$(function() {
		$('a.delete').click(function() {
		  row = $(this).parent().parent();
      if ( confirm("Deseja excluir este cliente?") )
          $.ajax({
              url: this.href.replace('/destroy', ''),
              type: 'post',
              dataType: 'script',
              data: { '_method': 'delete' },
              success: function() {
                row.remove();
              }
          });

      return false;
    });
	});
</script>

<% if flash[:notice] %>
<p class="msg done"><%= notice %></p>
<% end %>

<%= link_to "Novo", new_cliente_path %>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Admissão</th>
      <th>Nascimento</th>
      <th>CPF</th>
      <th>RG</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.codigo %></td>
    <td><%= cliente.nome %></td>
    <td><%= cliente.admissao %></td>
    <td><%= cliente.nascimento %></td>
    <td><%= cliente.cpf %></td>
    <td><%= cliente.rg %></td>
    <td><%= link_to "Editar", edit_cliente_path(cliente) %></td>
    <td><%= link_to "Excluir", cliente, :class => "delete" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

