<h1>Lixeira</h1>

<script>
  $(function() {
    $("#tabs").tabs();

		$('a.delete_cliente').click(function() {
		  row = $(this).parent().parent();
      if ( confirm("Deseja restaurar este cliente?") )
          $.ajax({
              url: this.href,
              type: 'post',
              dataType: 'script',
              data: { '_method': 'post' },
              success: function() {
                row.remove();
              }
          });

      return false;
    });

		$('a.delete_contrato').click(function() {
		  row = $(this).parent().parent();
      if ( confirm("Deseja restaurar este contrato?") )
          $.ajax({
              url: this.href,
              type: 'post',
              dataType: 'script',
              data: { '_method': 'post' },
              success: function() {
                row.remove();
              }
          });

      return false;
    });

		$('a.delete_tipo_de_servico').click(function() {
		  row = $(this).parent().parent();
      if ( confirm("Deseja restaurar este tipo de servico?") )
          $.ajax({
              url: this.href,
              type: 'post',
              dataType: 'script',
              data: { '_method': 'post' },
              success: function() {
                row.remove();
              }
          });

      return false;
    });

		$('a.delete_servico').click(function() {
		  row = $(this).parent().parent();
      if ( confirm("Deseja restaurar este serviço?") )
          $.ajax({
              url: this.href,
              type: 'post',
              dataType: 'script',
              data: { '_method': 'post' },
              success: function() {
                row.remove();
              }
          });

      return false;
    });
	});
</script>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Clientes</a></li>
    <li><a href="#tabs-2">Tipos de Serviços</a></li>
    <li><a href="#tabs-3">Serviços</a></li>
    <li><a href="#tabs-4">Contratos</a></li>
  </ul>
  <div id="tabs-1">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Admissão</th>
          <th>Nascimento</th>
          <th>CPF</th>
          <th>RG</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.codigo %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.admissao %></td>
        <td><%= cliente.nascimento %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.rg %></td>
        <td><%= link_to "Restaurar", "/lixeira/restaurar_cliente/#{cliente.id}", :class => "delete_cliente" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="tabs-2">
		<table>
			<thead>
				<tr>
				  <th>Código</th>
				  <th>Nome</th>
				  <th></th>
				</tr>
			</thead>
			<tbody>
			<% @tipos_de_servicos.each do |tipo_de_servico| %>
			<tr>
				<td><%= tipo_de_servico.codigo %></td>
				<td><%= tipo_de_servico.nome %></td>
				<td><%= link_to "Restaurar", "/lixeira/restaurar_tipo_de_servico/#{tipo_de_servico.id}", :class => "delete_tipo_de_servico" %></td>
			</tr>
			<% end %>
			</tbody>
		</table>
  </div>
  <div id="tabs-3">
		<table border="0" cellpadding="0" cellspacing="0" id="grid-servicos" class="display">
			<thead>
				<tr>
				  <th>Código</th>
				  <th>Nome</th>
				  <th>Tipo de Serviço</th>
				  <th></th>
				</tr>
			</thead>
			<tbody>
			<% @servicos.each do |servico| %>
			<tr>
				<td><%= servico.codigo %></td>
				<td><%= servico.nome %></td>
				<td><%= servico.tipo_de_servico.nome %></td>
				<td><%= link_to "Restaurar", "/lixeira/restaurar_servico/#{servico.id}", :class => "delete_servico" %></td>
			</tr>
			<% end %>
			</tbody>
		</table>
  </div>
  <div id="tabs-4">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Titular</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.codigo %></td>
        <td><%= contrato.titular.nome %></td>
        <td><%= contrato.carencia %></td>
        <td><%= link_to "Restaurar", "/lixeira/restaurar_contrato/#{contrato.id}", :class => "delete_contrato" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

