<h1>Tipos de Serviços</h1>

<script>
	$(function() {
	});
</script>

<% if flash[:notice] %>
<p class="msg done"><%= notice %></p>
<% end %>

<%= link_to "Novo", new_tipo_de_servico_path %>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @tipos_de_servicos.each do |tipo_de_servico| %>
  <tr>
    <td><%= tipo_de_servico.codigo %></td>
    <td><%= tipo_de_servico.nome %></td>
    <td><%= link_to "Editar", edit_tipo_de_servico_path(tipo_de_servico) %></td>
    <td><%= link_to "Excluir" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

