<h1>Tipos de Serviços</h1>

<script>
	$(function() {
		$('#grid').dataTable({
		  "bJQueryUI": true,
			"sPaginationType": "full_numbers"
		});

		$('#link-message').click(function() {
      $('#message-green').hide("slow");
		});
	});
</script>

<% if flash[:notice] %>
<div id="message-green">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
	  <td class="green-left"><%= notice %></td>
	  <td class="green-right"><a id="link-message"><img src="/images/icon_close_green.gif" alt="" /></a></td>
  </tr>
  </table>
</div>
<% end %>

<%= link_to "", new_tipo_de_servico_path, :id => "add", :class => "add-link" %>

<table border="0" cellpadding="0" cellspacing="0" id="grid" class="display">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @tipos_de_servicos.each do |tipo_de_servico| %>
  <tr>
    <td><%= tipo_de_servico.codigo %></td>
    <td><%= tipo_de_servico.nome %></td>
    <td><%= link_to "Editar", edit_tipo_de_servico_path(tipo_de_servico) %></td>
    <td><%= link_to "Excluir" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

