<script>
	$(function() {
		$("#tabs").tabs();

		$("#dialog").dialog({
	  	autoOpen: false,
      modal: true,
      width: 450,
      buttons: {
          "Adicionar": function() {
          		$("#new_cliente").submit();
              $(this).dialog("close");
          }
      }
	  });

		$("#add-dependente").click(function() {
		  $('#dialog').load($('#form-contrato').attr('action')+'/new_dependente');
      $('#dialog').dialog("open");
		});
	});
</script>
<%= form_for @contrato, :url => {:action => action}, :html => {:id => "form-contrato"} do |f| -%>
  <fieldset>
    <legend><%= title %></legend>
    <table border="0" class="nostyle">
      <tr>
        <th valign="top"><%= f.label :codigo %></th>
        <td><%= f.text_field :codigo, :maxlength => 6 %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :cliente_id %></th>
        <td><%= f.select :cliente_id, @clientes, :prompt => "Selecione..." %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :carencia, "Carência" %></th>
        <td><%= f.text_field :carencia, :class => "date-edit" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= f.submit "Salvar", :class => "input-submit" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to "Cancelar", contrato_index_path %></td>
      </tr>
    </table>
    <br />
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Dependentes</a></li>
        <li><a href="#tabs-2">Serviços</a></li>
      </ul>
      <div id="tabs-1">
        <%= link_to "Novo", "#", :id => "add-dependente" %>
        <table>
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Admissão</th>
              <th>Nascimento</th>
              <th>CPF</th>
              <th>RG</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @contrato.dependentes.each do |dependente| %>
          <tr>
            <td><%= dependente.codigo %></td>
            <td><%= dependente.nome %></td>
            <td><%= dependente.admissao %></td>
            <td><%= dependente.nascimento %></td>
            <td><%= dependente.cpf %></td>
            <td><%= dependente.rg %></td>
            <td><%= link_to "Excluir" %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div id="tabs-2">
      </div>
    </div>
  </fieldset>
  <div id="dialog" title="Novo Dependente" />
<% end -%>

