<h1>Contratos</h1>

<script>
	$(function() {
		grid = $('#grid').dataTable({
		  "bJQueryUI": true,
			"sPaginationType": "full_numbers"
		});

		$('#link-message').click(function() {
      $('#message-green').hide("slow");
		});

		$('a.delete').click(function() {
		  index = $(this).parent().parent()[0].rowIndex - 1;
      if ( confirm("Deseja excluir este contrato?") )
          $.ajax({
              url: this.href.replace('/destroy', ''),
              type: 'post',
              dataType: 'script',
              data: { '_method': 'delete' },
              success: function() {
                grid.fnDeleteRow(index);
              }
          });

      return false;
    });
	});
</script>

<% if flash[:notice] %>
<div id="message-green">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
	  <td class="green-left"><%= notice %></td>
	  <td class="green-right"><a id="link-message"><img src="/images/icon_close_green.gif" alt="" /></a></td>
  </tr>
  </table>
</div>
<% end %>

<%= link_to "", new_contrato_path, :class => "add-link" %>

<table border="0" cellpadding="0" cellspacing="0" id="grid" class="display">
  <thead>
    <tr>
      <th>Código</th>
      <th>Cliente</th>
      <th>Data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @contratos.each do |contrato| %>
  <tr>
    <td><%= contrato.codigo %></td>
    <td><%= contrato.cliente.nome %></td>
    <td><%= contrato.data %></td>
    <td><%= link_to "Editar", edit_contrato_path(contrato) %></td>
    <td><%= link_to "Excluir", contrato, :class => "delete" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

