<script>
	$(function() {
		$("#data").datepicker({ dateFormat: 'dd/mm/yy' });

    /*$('#valid-codigo').hide();
    $('#valid-cliente').hide();
    $('#valid-data').hide();
    $('#codigo').blur(function() {
      if ($('#codigo').val() == '')
        $('#valid-codigo').show("slow");
      else
        $('#valid-codigo').hide("slow");
    });
    $('#data').blur(function() {
      if ($('#data').val() == '')
        $('#valid-data').show("slow");
      else
        $('#valid-data').hide("slow");
    });*/
	});
</script>
<%= form_for @contrato, :url => {:action => "create"} do |f| -%>
  <fieldset>
    <legend>Novo</legend>
    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
      <tr>
        <th valign="top"><%= f.label :codigo %></th>
        <td><%= f.text_field :codigo, :id => "codigo" %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :cliente_id %></th>
        <td><%= f.select :cliente_id, @clientes, :prompt => "Selecione...", :id => "cliente" %></td>
      </tr>
      <tr>
        <th valign="top"><%= f.label :data %></th>
        <td><%= f.text_field :data, :id => "data", :class => "date-edit", :id => "data" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= f.submit "Salvar" %></td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to "Cancelar", contrato_index_path %></td>
      </tr>
    </table>
  </fieldset>
<% end -%>

