<!DOCTYPE html>
<html>
<head>
  <title>.:: Ghost Assistência Familiar ::.</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(document).ready(function() {
	  $("ul.subnav").parent().append("<span></span>");

	  $("ul.topnav li span").click(function() {

		  $(this).parent().find("ul.subnav").slideDown('fast').show();

		  $(this).parent().hover(function() {
		    }, function(){
			    $(this).parent().find("ul.subnav").slideUp('slow');
		  });

		  }).hover(function() {
			  $(this).addClass("subhover");
		      }, function(){
			      $(this).removeClass("subhover");
	    });

	    $('#data-table > tbody > tr:odd').addClass('odd');

      $('#data-table > tbody > tr').hover(function(){
        $(this).toggleClass('hover');
      });

    });
  </script>
</head>
<body>
  <div class="container">
    <div id="header">
      <ul class="topnav">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <a href="#">Cadastros</a>
            <ul class="subnav"">
              <li><%= link_to "Clientes", cliente_index_path %></li>
              <li><%= link_to "Tipos de Serviços", tipo_de_servico_index_path %></li>
              <li><%= link_to "Serviços", servico_index_path %></li>
            </ul>
          </li>
          <li>
            <a href="#">Movimentos</a>
            <ul class="subnav"">
              <li><%= link_to "Contratos", contrato_index_path %></li>
            </ul>
          </li>
          <li>
            <a href="#">Relatórios</a>
            <ul class="subnav"">
              <li><%= link_to "Listagem de Clientes" %></li>
            </ul>
          </li>
          <li>
            <a href="#">Utilitários</a>
            <ul class="subnav"">
              <li><%= link_to "Lixeira" %></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <fieldset id="field-set-content">
    <div class="content">
      <div class="clear"></div>

      <%= yield %>
    </div>
  </fieldset>

  <div id="footer">
	  <div id="footer-left">
  	  Ghost Assistência Familiar &copy;. Todos os direitos reservados.
  	</div>
	  <div class="clear">&nbsp;</div>
  </div>
</body>
</html>

